{% extends "base.html" %}
{% block content %}

<h1>Clientes</h1>

<a href="{% url 'crear_cliente' %}">+ Nuevo cliente</a>

<br><br>

<table border="1" cellpadding="10" style="width:100%;background:white">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
    </tr>

    {% for cliente in clientes %}
<tr>
    <td>{{ cliente.first_name }}</td>
    <td>{{ cliente.last_name }}</td>
    <td>{{ cliente.phone }}</td>
    <td>{{ cliente.email }}</td>

    <td>
        <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
    </td>
</tr>
{% endfor %}

